* {
    margin: 0;
    padding: 0;
}


/* body {
    background-color: aliceblue;
} */

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    color: black;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #9eff62;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    animation: vanish 10s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}