@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
:root {
    --white: white;
    --red: #c94b4b;
    --cblack: rgb(37, 37, 37);
    --cblue: #dbd6e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ysabeau SC', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap" rel="stylesheet');
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Ysabeau SC';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cblue);
}


/* Heading */

.head {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--cblack);
}

.head span {
    color: var(--red);
    background: linear-gradient( to right, #FC5C7D, #6A82FB, #59C173, #dd3e54);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* List points */

ul {
    display: flex;
    margin-top: 180px;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 30px; */
    color: var(--red);
    font-weight: 800;
}


/* Icons, text & steps */

ul li .icon {
    font-size: 25px;
    margin: 0 60px;
}

ul li .text {
    font-size: 14px;
    text-align: center;
}


/* Progress-after */

ul li .progress {
    margin: 14px 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--cblack);
    display: grid;
    place-items: inherit;
    position: relative;
    cursor: pointer;
}

.progress::after {
    content: " ";
    position: absolute;
    width: 115px;
    height: 5px;
    background-color: var(--cblack);
    right: 30px;
}

.one::after {
    width: 0;
    height: 0;
}

ul li .progress .uil {
    display: none;
}

ul li .progress p {
    font-size: 20px;
    padding: 0 0 5px 10px;
    color: var(--white);
}

ul li .active {
    background-color: var(--red);
}

li .active::after {
    background-color: var(--red);
}

ul li .active p {
    display: none;
}

ul li .active .uil {
    display: flex;
    color: var(--white);
    font-size: 20px;
    padding-left: 4px;
}


/* Responsive Css */

@media (max-width:980px) {
    ul {
        flex-direction: column;
    }
    ul li {
        flex-direction: row;
    }
    ul li .progress {
        margin: 0 30px;
    }
    .progress::after {
        width: 5px;
        height: 35px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    ul li .text {
        font-size: 20px;
    }
    .one::after {
        height: 0;
    }
    ul li .icon {
        margin: 15px 0
    }
}

@media (max-width:600px) {
    .head {
        font-size: 35px;
    }
}