* {
    box-sizing: border-box;
}

body {
    background: url('./img_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    color: rgb(255, 106, 0);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.class {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin: 20px;
    box-shadow: 2px 3px 3px 2px #4f83e3;
    /* Transfrom is used to move all the boxes 250% away on the right hand side */
    transform: translateX(250%);
    transition: transform 0.4s ease;
}

.class:nth-of-type(even) {
    transform: translateX(-250%);
}

.class.show {
    transform: translateX(0);
}